.git
.gitignore
.env
.env.backup
.env.production
node_modules
vendor
public/build
public/hot
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
IDE
.vscode
.idea
.cursor
.zed
.phpunit.cache
.phpactor.json
_ide_helper.php
